.selection-tabs {
  display: flex;
}

.selection-tab {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background: var(--usyd-grey-100);
  color: var(--usyd-grey-800);
  font-family: Apercu;
  border-top: 2px solid white;
  cursor: pointer;
}

.selection-tab:hover {
  background: var(--usyd-grey-200);
}

.wallet-tab--active {
  background: white;
  border-top: 2px solid var(--usyd-red);
}

.wallet-tab--active:hover {
  background: white;
}